{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contact US{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}

<link rel="stylesheet" href="static/contact_us.css">
<script src="{{ url_for('static', filename='contact_us.js') }}"></script>

<div id="saveDataModal" class="confirm_modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="saveModalHeading">New Advertisement</h2>
        <p id="saveModelDetails">New Advertisement Create Successfully.</p>
        <button id="saveConfirmYes">OK</button>
    </div>
</div>

<main class="contact-container">
    <section class="contact-section">
        <h2>Contact Us</h2>
        <p>If you have any questions, suggestions, or concerns, feel free to reach out to us. We'd love to hear from you!</p>
        <form id="contact_form"  action="{{ url_for('send_mail') }}" method="post">
            <div class="form-group">
                <label for="mail-name">Name</label>
                <input type="text" id="mail-name" name="mail-name" placeholder="Your name" required>
            </div>
            <div class="form-group">
                <label for="recepient-email">Email</label>
                <input type="email" id="recepient-email" name="recepient-email" placeholder="Your email" required>
            </div>
            <div class="form-group">
                <label for="contact-message">Message</label>
                <textarea id="contact-message" name="contact-message" placeholder="Your message" required></textarea>
            </div>
            <button type="submit">Send Message</button>
        </form>
    </section>
</main>

<script type="text/javascript">
    var userData = {{ userData | tojson }};
    console.log(userData.Username)
  
</script>

{% endblock %}