{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}

<script src="{{ url_for('static', filename='home.js') }}"></script>

<main>
    <div class="home_container">
        <section class="ad-section">
            <div class="new-add-row">
                <a href="{{ url_for('new_advertisement') }}">
                    <button class="new-add">+ New Advertisement</button>
                </a>
                <!-- <button class="new-add" id="newAdBtn">+ New Advertisement</button> -->
            </div>
            <div class="ad_container">
                <h2>Featured Ads</h2>
            </div>
            
            
        </section>

        <!-- <section class="ad-section">
            <h2>Sponsored Ads</h2>
            <div class="ad">
                <img src="ad4.jpg" alt="Ad 4">
                <h3>Ad Title 4</h3>
                <p>Ad description goes here. This is a brief description of the advertisement.</p>
            </div>
            <div class="ad">
                <img src="ad5.jpg" alt="Ad 5">
                <h3>Ad Title 5</h3>
                <p>Ad description goes here. This is a brief description of the advertisement.</p>
            </div>
        </section> -->
    </div>
</main>

{% endblock %}
