{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}

<!-- <link rel="stylesheet" href="static/home_styles.css"> -->

<main>
  <div class="signup_container">
    <section class="signup-section">
      <img src="./static/images/post-free-ads.jpg" alt="Signup Image" class="signup-image">
      <h2>Login for Adds Zone</h2>
      <form class="login-form card" action="{{ url_for('login') }}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-container">
            <img src="./static/images/username.png" alt="Username Icon" class="input-icon">
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-container">
            <img src="./static/images/password.png" alt="Username Icon" class="input-icon">
            <input type="password" id="password" name="password" placeholder="Confirm your password" required>
          </div>
        </div>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        {% if msg %}
        <p style="color: red;">{{ msg }}</p>
        {% endif %}
      </form>
    </section>
  </div>
</main>

{% endblock %}