{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Login User{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}

<div id="confirmationModal" class="confirm_modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="modalHeading">Login Error</h2>
      <p id="modelDetails">Username or Password incorrect</p>
      <button id="confirmYes">OK</button>
  </div>
</div>

<main>
  <div class="signup_container">
    <section class="signup-section">
      <img src="./static/images/post-free-ads.jpg" alt="Signup Image" class="signup-image">
      <h2>Login for Adds Zone</h2>
      <form class="login-form card" id="loginForm" action="{{ url_for('login_app') }}" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-container">
            <img src="./static/images/username.png" alt="Username Icon" class="input-icon">
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-container">
            <img src="./static/images/password.png" alt="Password Icon" class="input-icon">
            <input type="password" id="password" name="password" placeholder="Confirm your password" required>
          </div>
        </div>
        <button type="submit">Login</button>
        <div class="social-login">
          <!-- <button type="button" class="google-login" id="google_login">Sign up</button> -->
          <button type="button" class="google-login" id="google_login">Google Login</button>
        </div>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
      </form>
    </section>
  </div>
</main>

{% endblock %}
