{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}List of devices{% endblock %}</h1>
{% endblock %}

{% block page_content_1 %}

<!-- <link rel="stylesheet" href="static/home_styles.css"> -->

<main>
    <div class="signup_container">
        <section class="signup-section">
            <h2>Sign Up</h2>
            <form action="{{ url_for('manageUsers') }}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="create_username" name="create_username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="create_email" name="create_email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="create_password" name="create_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="create_confirm-password" name="create_confirm-password" required>
                </div>
                <button type="submit">Sign Up</button>
                <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
                {% if msg %}
                <p style="color: red;">{{ msg }}</p>
                {% endif %}
            </form>
        </section>
    </div>
</main>



{% endblock %}